html {
  position: relative;
  min-height: 100%;
}

body {
  padding: 0;
  font-family: 'Open Sans';
  font-weight: 400;
  /* Needed to stop white horizontal strips from showing under the parallax when scrolling up too fast */
}

.brand {
  font-family: 'Orbitron';
  font-weight: 400;
  color: white;
}
.navbar-inverse, .navbar-collapse, .navbar-form {
  border: none;
}

.pattern {
}

.text-bold {
  font-weight: 900;
  color: orange;
}

.logo {
  margin-top: 5px;
  margin-right: 5px;
  max-height: 40px;
}

.material {
  box-shadow: 0px 2px 4px #000;
  border-radius: 0px;
  border-bottom: 1pt solid #444;
}

.jumbotron {
  margin-top: 80px;
  background: rgba(0, 0, 0, 0);
  color: white;
}

.splash-text {
}

.splash {
  text-transform: uppercase;
  text-shadow: 0px 1px 1px black;
}

.jumbotron.splash {
  margin-top: 160px;
  background-color: rgba(8, 8, 8, 0);
  color: white;
}

.section-title {
  color: white;
  padding-bottom: 16px;
}

.jumbotron.splash .well {
  background-color: rgba(8, 8, 8, 0.9);
  box-shadow: 0px 8px 16px #111;
  border: none;
}

.btn {

}

.btn-pink {
  color: white;
  background-color: orange;
}

#section-1 {
  min-height: 200px;
  background-color: rgba(128,255,255,0);

}

#section-2 {
  background-color: #a5a5a5;
  box-shadow: 0px 8px 16px #111;
}

#typed {
  display: inline;
  min-height: 300px;
}

.inline {
  display: inline;
}


/* Everything but the jumbotron gets side spacing for mobile first views */
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  box-shadow: 0px 8px 16px #111;
}

/* Main marketing message and sign up button */
.jumbotron .btn {
  padding: 14px 24px;
}




/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
}

@media (min-width: 1200px) {

}
