html {
  position: relative;
  min-height: 100%;
}

body {
  padding: 0;
  font-family: 'Open Sans';
  font-weight: 700;
  /* Needed to stop white horizontal strips from showing under the parallax when scrolling up too fast */
  background-color: #666;
}

h1 {
}

.navbar-inverse, .navbar-collapse, .navbar-form {
  border: none;
}

.navbar-inverse {
  box-shadow: 0px 4px 8px #111;
}

.splash {
  text-transform: uppercase;
  text-shadow: 0px 1px 1px black;
}

.navbar-brand {
}

.jumbotron.splash {
  margin-top: 160px;
  background-color: rgba(8, 8, 8, 0);
  color: white;
}

.card {
  height: 400px;
  background: rgba(8, 8, 8, 0.6);
  margin: 16px;
  padding: 16px;
}

.jumbotron.splash .well {
  background-color: rgba(8, 8, 8, 0.9);
  box-shadow: 0px 8px 16px #111;
  border: none;
}

.btn-pink {
  color: white;
  background-color: orange;
}

#section-1 {
  height: 800px;
}

#section-2 {
  background-color: #666;
}

#typed {
  display: inline;
  min-height: 300px;
}

#typed,.typed-cursor {
}


/* Everything but the jumbotron gets side spacing for mobile first views */
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 2px solid rgb(8, 8, 8);
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron .btn {
  padding: 14px 24px;
}




/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {


  /* Remove the padding we set earlier */
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 1200px) {

}
